[flake8]
ignore =
    # Missing whitespace after ',', ';', or ':'.
    E231,
    # Multiple spaces after ','.
    E241,
per-file-ignores =
    module.py:F401
max-line-length = 70
count = true
