# Regular tests against the current Flake8 main branch.
name: Test weekly

on:
  schedule:
    # Every Saturday at 11:17 UTC.
    - cron: '17 11 * * 6'

jobs:

  flake8_main:

    runs-on: ubuntu-latest

    steps:
      - name: Check out code.
        uses: actions/checkout@v6

      - name: Set up latest stable Python.
        uses: actions/setup-python@v6
        with:
            python-version: '3.x'

      - name: Install current Flake8 main branch.
        run:  pip install git+https://github.com/PyCQA/flake8.git

      - name: Install project.
        run:  pip install .[dev]

      - name: Run tests.
        run:  pytest
